﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Факторизация</title>
</head>
<body>
   @using (Html.BeginForm("Index", "Factorization", FormMethod.Post))
   {
    <p>Введите число для факторизации: </p>
    <input type="number" name="inputString" />
    <p><input type="submit" value="Отправить" /></p>
   }
</body>
</html>
