﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Дискретное логарифмирование</title>
</head>
<body>
    @using (Html.BeginForm("Index", "DiscretnoeLogarifmirovanie", FormMethod.Post))
    {
        <p>y: </p>
        <input type="number" name="y" />
        <p>a: </p>
        <input type="number" name="a" />
        <p>n: </p>
        <input type="number" name="n" />
        <p><input type="submit" value="Отправить" /></p>
    }
</body>
</html>
